# پوشه pycache نره تو ریپو
__pycache__/

# همه pyc. ها و فایل‌های باینری کامپایل‌شده پایتون
*.pyc
*.pyo
*.pyd

# فایل __init__.py رو نگه میداریم چون لازمه
# ولی اگه خواستی اونم بره بیرون (معمولاً خوب نیست) اینو اضافه کن:
# test_modules/__init__.py
